
#titulo {
    font-size: xx-large;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div h2, div h3, div h4 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 80px;
}
*{font-size: 24px;
    color: rgb(15, 74, 235);}
    /* esto es un comentario*/
#titulo {
    border: 5px rgb(15, 74, 235) solid;
    border-radius: 5px;
    border-width: 5px;
    background: #0004ff;
    background: linear-gradient(200deg,#0004ff 0%, #fffbfb 80%);
    background: -webkit-linear-gradient(200deg,#0004ff 0%, #fffbfb 80%);
    background: -moz-linear-gradient(200deg,#0004ff 0%, #fffbfb 80%);       
    width: 280px;
    padding: 10px;
    margin-left: 300px;
    box-shadow: 10px 10px 3px rgb(5, 5, 7);
 }  

 
ul  {
    border-style: dotted;
    border-color: rgb(15, 74, 235);
    border-radius: 70px 18px 151px 0px;
    -webkit-border-radius: 70px 18px 151px 0px;
    -moz-border-radius: 70px 18px 151px 0px;
    border-width: 3px;
    width: 600px;
    margin-left: 100px;
    box-shadow: 10px 10px 3px rgb(53, 50, 243);
 }
#formulario {
    border-style: groove;
    border-color: rgb(15, 74, 235)k;
    border-radius: 5px;
    border-width: 2px;
 }
 #formulario {
    background-image: url(fondo-blanco.jpg);
    background-size: cover;
    border-radius: 5px;
    border-width: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

div {
    background-image: url(fondo-blanco.jpg);
    background-size: cover;
    border-radius: 5px;
    border-width: 2px;
 }
 #foto {
    border: 5px rgb(15, 74, 235) solid;
    border-radius: 5px;
    border-width: 2px;
    margin-left: 260px;
 }
 