

.flex-container {
    border: 3px solid black;
    
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 750px;
    height: 750px;
    margin: auto;
}

.caja {

    color: white;
    width: 250px;
    height: 250px;
    font-weight: bold;
    text-align: center;
    line-height: 250px;
    justify-content: center;
    align-items: center;
}

#caja1 {
    background-color: red;
}

#caja2 {
    background-color: blue;
}

#caja3 {
    background-color: green;
}